<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <h1>Welcome to 99 cats, <%= @user.username %>!</h1>
        <p>
            You have successfully signed up for 99 cats.
            Your username is: <%= @user.username %>.
            <br>
        </p>
        <p>
            To log in, just follow this link: <%= @url %>
        </p>
    </body>
</html>
